{% extends "base.html" %}

{% block title %}忘记密码{% endblock %}

{% block  script %}
    $(document).ready(function()
	{
		$("#semdemail").click(function()
		{
			forgetpasfunc();
		});

		$("#id_email").keydown(function(e)
		{
           if (e.keyCode == 13)
		   {
				forgetpasfunc();
           }
		});
    });

    function checkEmail()
    {
        document.getElementById('eamil_err').innerHTML = '';
        var temp = document.getElementById("id_email");
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if(!myreg.test(temp.value))
        {
            document.getElementById('email_err').innerHTML = '请输入有效的电子邮件地址！';
            return false;
        }
    }

    function forgetpasfunc()
    {
        var forgetpasform = document.getElementById('forgetpasform');
        if(false != checkEmail())
        {
            forgetpasform.submit();
        }
    }
{% endblock %}

{% block content %}
	<div class="otherpage">
    <h1 style="width: 250px;">忘记密码</h1>
    <p>请输入您的邮箱地址来重置密码吧。</p>
    <form id="forgetpasform" action="." method="post">
		<!-- <p> -->
			<!-- <label for="id_username"><span style="color:red;">*</span>用户名:</label>  -->
			<!-- <input id="id_id_username" maxlength="30" name="id_username" type="text"> -->
		<!-- </p> -->
		<p>
			<label for="id_email"><span style="color:red;">*</span>电子邮件:</label>
            <div>
                <input id="id_email" maxlength="100" name="email" onblur="checkEmail();" style="line-height: 25px;">
                <span id="email_err" style="color:red;"></span>
            </div>
		</p>
        <!-- {{ form.as_p }} -->
        <!--<p><input type='submit' value="发送邮件"></p>-->

        {% csrf_token %}
    </form>
    <p>
	    <button id="semdemail" onclick="checkEmail();" style="height: 35px;width: 100px;padding-top: 0px;background: #5998f1;color: white;">发送邮件</button>
    </p>
	</div>
{% endblock %}
