{% extends "base.html" %}

{% block title %}修改密码{% endblock %}

{% block  script %}
	$(document).ready(function()
	{
        $("#changebtn").click(function()
		{
			changepasfunc();
		});

		$("#id_new_password2").keydown(function(e)
		{
           if (e.keyCode == 13)
		   {
				changepasfunc();
           }
		});
    });

    function changepasfunc()
    {
        var changepasform = document.getElementById('changepasform');
        var submit = true;

        var oldpasslen = document.getElementById('id_old_password').value.length;
        if(oldpasslen > 16 || oldpasslen < 6)
		{
			submit = false;
            document.getElementById('old_password_err').innerHTML = '密码不能少于6个字符,不能多于16个字符！';
		}

        var password1len = document.getElementById('id_new_password1').value.length;
        if(password1len > 16 || password1len < 6)
		{
			submit = false;
            document.getElementById('password1_err').innerHTML = '密码不能少于6个字符,不能多于16个字符！';
		}

        var password2len = document.getElementById('id_new_password2').value.length;
        if(password2len > 16 || password2len < 6)
		{
			submit = false;
            document.getElementById('password2_err').innerHTML = '密码不能少于6个字符,不能多于16个字符！';
		}

        if(document.getElementById('id_new_password2').value != document.getElementById('id_new_password1').value)
        {
            submit = false;
            document.getElementById('password2_err').innerHTML = '重复密码和密码不一致！';
        }

        if(submit)
		{
            changepasform.submit();
        }
    }

    function init()
    {
        {% if errmsg %}
            document.getElementById('password2_err').innerHTML = '修改密码失败！';
        {% endif %}
    }

    //页面加载时执行init()函数
	window.onload = init;
{% endblock %}

{% block content %}
	<div class="otherpage">
		<h1 style="width: 225px;">修改密码</h1>
		<p>填写表单修改您的密码。</p>
		<form id="changepasform" action="." method="post">
			<!--{{ form.as_p }}-->
			<p>
                <label id="old_password" for="id_old_password">旧密码:</label>
            <div>
                <input id="id_old_password" maxlength="16" name="old_password" type="password" style="line-height: 25px;width: 221px;">
                <span id="old_password_err" style="color:red;"></span>
            </div>
            </p>
            <p>
                <label id="new_password1"  for="id_new_password1">新密码:</label>
                <div>
                    <input id="id_new_password1" maxlength="16" name="new_password1" type="password" style="line-height: 25px;width: 221px;">
                    <span id="password1_err" style="color:red;"></span>
                 </div>
            </p>
            <p>
                <label id="new_password2" for="id_new_password2">新密码确认:</label>
                <div>
                    <input id="id_new_password2" maxlength="16" name="new_password2" type="password" style="line-height: 25px;width: 221px;">
                    <span id="password2_err" style="color:red;"></span>
                </div>
            </p>
			{% csrf_token %}
		</form>
            <button id="changebtn" style="height: 35px;width: 75px;padding-top: 0px;background: #5998f1;color: white;">确认</button>
	</div>
{% endblock %}
