{% extends "base.html" %}

{% block title %}重置密码{% endblock %}

{% block  script %}
    $(document).ready(function()
	{
		function resetpassfunc()
		{
            cleanhis();

			var registerform = document.getElementById('resetpassform');
			var passlena = document.getElementById('id_new_password1').value.length;
            var submit = true;
			if(passlena < 6 || passlena > 16)
			{
                submit = false;
                document.getElementById('password_err').innerHTML = '密码不能少于6个字符,不能多于16个字符！';
			}

            var passlenb = document.getElementById('id_new_password2').value.length;
			if(passlenb < 6 || passlenb > 16)
			{
                submit = false;
                document.getElementById('password2_err').innerHTML = '密码不能少于6个字符,不能多于16个字符！';
			}

            if(document.getElementById('id_new_password1').value != document.getElementById('id_new_password2').value)
            {
                submit = false;
                document.getElementById('password2_err').innerHTML = '重复密码和密码不一致！';
            }

            if(submit)
            {
                registerform.submit();
            }
		}

        function cleanhis()
        {
            document.getElementById('password_err').innerHTML = '';
            document.getElementById('password2_err').innerHTML = '';
        }

        $("#resetpassbtn").click(function()
		{
			resetpassfunc();
		});

		$("#id_new_password2").keydown(function(e)
		{
           if (e.keyCode == 13)
		   {
				resetpassfunc();
           }
		});
    });


{% endblock %}


{% block content %}
	<div class="otherpage">
    <h1 style="width: 225px;">重置密码</h1>
    {% if validlink %}
        <p>请重复输入您的密码重复保持一致:</p>
        <form id="resetpassform" action="." method="post">
            <p>
                <label for="id_new_password1"><span style="color:red;">*</span>新密码:</label>
                <div>
                    <input id="id_new_password1" maxlength="16" name="new_password1" type="password" style="line-height: 25px;">
                    <span id="password_err" style="color:red;"></span>
                </div>
            </p>
            <p>
                <label for="id_new_password2"><span style="color:red;">*</span>新密码确认:</label>
                <div>
                    <input id="id_new_password2" maxlength="16" name="new_password2" type="password" style="line-height: 25px;">
                    <span id="password2_err" style="color:red;"></span>
                </div>
            </p>
            <!--{{ form.as_p }}-->
            {% csrf_token %}
            <p>
                <!--<input type='submit' value="修改密码" />-->
                <button id="resetpassbtn" type="button" style="height: 35px;width: 90px;padding-top: 0px;background: #5998f1;color: white;">修改密码</button>
            </p>
        </form>
    {% else %}
        <p>密码重置链接无效，可能是因为它已被使用，请申请重新发送重置邮件。</p>
    {% endif %}
	</div>
{% endblock %}
