{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block title %}雷盾卸载{% endblock %}

{% block content %}
	 <div class="container" style="font-size:20px;">
        <!--顶端-->

			<div class="bg bg-blur"></div>
			<div class="content content-front">
				<div class="xiezai_r">
					<ul class="">
						 <li class="">
							 您已经成功卸载雷盾服务器安全卫士！</li>
						 <li style="font-size: 34px;">
							 感谢您一直以来对雷盾的支持!</li>
						 <li style="font-size: 28px;">
							 祝您在接来的旅程中一路顺风!</li>
						 <li>
					 </ul>
				</div>
			</div>
    </div>


{% endblock %}
